[submodule "zola/themes/themes/adidoks"]
	path = zola/themes/themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
[submodule "zola/themes/adidoks"]
	path = zola/themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
